<div>
  {{link-to '+' 'new'}}
</div>

{{bookmarksCount}}

<ul>
{{#each bookmark in model itemController="bookmark"}}
  <li>
    {{link-to bookmark.model.url 'show' bookmark}}
    <button {{action 'destroy'}}>X</button>
    <button {{action 'addFavorite'}}>Favorite</button>
  </li>
{{/each}}
</ul>
